<!DOCTYPE html>
<html>
<head>
  <title>Google Search Limit Testing Page for SEO Purposes, T1 - ijelmrdk</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1>Meta Title Testing Page</h1>
	<p>The string at the end of the page title is a word that has 0 search results in Google.  It is the only mention of it anywhere on this page.  If Google indexes the page for that phrase, then we can conclude that phrases up to at least 65 characters are still considered in indexing and ranking.</p>

</body>
</html>
